<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.onaio.steps"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".activity.StepsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity"
                  android:label="@string/action_settings"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.NewHouseholdActivity"
            android:label="New Household"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.EditHouseholdActivity"
            android:label="Edit Household"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.NewMemberActivity"
            android:label="New Member"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.HouseholdActivity"
            android:label="@string/action_household"
            android:parentActivityName=".activity.StepsActivity">
        </activity>
        <activity android:name=".activity.MemberActivity"
            android:label="@string/action_member">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
